* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.outermostWrapper {
    position: absolute;
    top: 20%;
    left: 25%;
    transform: translate(-50%, -50%);
}