.cardWrapper {
    position: absolute;
    top: 70px;
    left: 30px;
    display: flex;
    width: 450px;
    overflow: scroll;
    background: rgb(54, 54, 54);
    border-radius: 0 0 5px 5px;
    max-height: 205px;
    z-index: 100;
    transition: opacity 0.5s;
}

.cardWrapper.show {
    display: block;
    max-height: 220px;
}

.cardWrapper::-webkit-scrollbar {
    display: none;
    width: 19px;
    background-color: #F5F5F5;
}

.cardWrapper ul {
    list-style: none;
    width: 450px;
    padding: 10px;
}

.cardWrapper ul li {
    line-height: 55px;
    position: relative;
    text-decoration: none;
    color: #b0b3b8;
    display: flex;
    font-size: 25px;
    font-weight: 500;
    padding: 10px;
    align-items: center;
    border-radius: 8px;
}

.cardWrapper ul li:hover {
    background: #292D31;
    cursor: pointer;
}

.cardWrapper ul li .icon {
    height: 50px;
    width: 50px;
    margin-right: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.cardWrapper ul li .icon img {
    height: 50px;
}