.outerWrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading{
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    /* 隐藏他的下面三条边 */
    border: 1px solid transparent;
    /* 只显示上面那条边 */
    border-top-color: #9370db;
    animation: rotate 2s linear infinite;
}

.loading::before{
    content: "";
    position: absolute;
    top: 2px;
    right: 2px;
    bottom: 2px;
    left: 2px;
    /* 这边也是一样 用伪元素做边框 */
    border-radius: 50%;
    border: 1px solid transparent;
    border-top-color: #ba55d3;
    animation: rotate 3s linear infinite;
}

.loading::after{
    content: "";
    position: absolute;
    top: 5px;
    right: 5px;
    bottom: 5px;
    left: 5px;
    /* 这边也是一样 用伪元素做边框 */
    border-radius: 50%;
    border: 1px solid transparent;
    border-top-color: #f0f;
    animation: rotate 1.5s linear infinite;
}

/* 下面定义一下动画 */
@keyframes rotate{
    0%{
        transform: rotate(0);
    }
    100%{
        /* 顺时针旋转360度 */
        transform: rotate(360deg);
    }
}