.sta-outerwrapper {
    position: absolute;
    top: 220px;
    width: 400px;
    height: 280px;
    margin: 50px auto;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 5px 15px -5px rgba(0, 0, 0, .4);
    padding: 1%;
}