.prediction-left-bar {
    position: absolute;
    width: 200px;
    height: 100%;
    background: #2D3136;
    left: 0;
    top: 0;
}

.prediction-left-bar .prediction-left-bar-award {
    width: 100%;
    text-align: center;
    line-height: 60px;
    font-size: 18px;
    font-weight: bold;
    color: #B0B3B8;
}

.prediction-left-bar .prediction-left-bar-award + div {
    width: 85%;
    height: 3px;
    background-color: #393E44;
    margin: 0 auto;
    margin-bottom: 10px;
}

.prediction-left-bar .prediction-left-bar-menu {
    list-style: none;
    position: relative;
}

.prediction-left-bar .prediction-left-bar-item {
    display: flex;
    align-items: center;
    justify-content: left;
    position: relative;
    left: -10px;
    width: 100%;
    height: 80px;
    cursor: pointer;
    color: #B0B3B8;
    font-size: 16px;
    font-weight: bold;
    transition: color 0.5s;
}

.prediction-left-bar .prediction-left-bar-item .prediction-prize {
    z-index: 1;
}

.prediction-left-bar .prediction-left-bar-item.active {
    color: #89F5FA;
}

.prediction-left-bar .prediction-left-bar-item.active .prediction-active-Background {
    position: absolute;
    left: -10px;
    width: 200px;
    height: 80px;
    background: #393E44;
    z-index: 0;
}

.prediction-left-bar .prediction-left-bar-item:hover {
    color: #89F5FA;
}

.prediction-left-bar .prediction-left-bar-item .left-string {
    position: absolute;
    width: 3px;
    height: 40px;
    margin-left: -5px;
    z-index: 1;
    transition: background 0.2s;
}

.prediction-left-bar .prediction-left-bar-item:hover .left-string {
    background: #46EFF7;
}

.prediction-left-bar .prediction-left-bar-item i {
    margin: 0 15px;
    z-index: 1;
}