.pred-outerwrapper {
    position: absolute;
    right: 30px;
    top: 30px;
    width: 940px;
    height: 690px;
    background: #393E44;
    background-size: cover;
    box-shadow: 0 5px 15px -5px rgba(0, 0, 0, .4);
    padding: 1%;
}