.PlayerRelatedNewsWrapper {
    position: absolute;
    width: 580px;
    height: 310px;
    bottom: 30px;
    left: 30px;
    padding: 5px;
    background: #393E44;
    box-shadow: 0 5px 15px -5px rgba(0, 0, 0, .4);
}

.PlayerRelatedNewsWrapper ul {
    list-style: none;
    margin-bottom: 0;
}

.PlayerRelatedNewsWrapper ul li {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.PlayerRelatedNewsWrapper ul .newsItem {
    position: relative;
    height: 97px;
    width: 100%;
    overflow: hidden;
}

.PlayerRelatedNewsWrapper ul .newsCut {
    height: 3px;
    width: 500px;
    background: #292D31;
}

.PlayerRelatedNewsWrapper .newsItem .newsItemTime {
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 0;
    color: #B0B3B8;
}

.PlayerRelatedNewsWrapper .newsItem .newsItemTitle {
    font-size: 17px;
    color: #fff;
    margin-bottom: 0;
    max-width: 500px;
    font-weight: bold;
}

.PlayerRelatedNewsWrapper .newsItem .newsItemTitle a {
    color: #fff;
}

.PlayerRelatedNewsWrapper .newsItem .newsItemTitle:hover a {
    color: #03e9f4;
}

.PlayerRelatedNewsWrapper .newsItem .newsItemAbstract {
    font-size: 15px;
    line-height: 20px;
    color: #B0B3B8;
}